
:root {
  --white: whitesmoke;
  --highlightOp: rgb(255, 174, 24);
  --highlightFc: gray;
  --outputColor: rgba(4, 18, 1, 0.622);
  --primaryColor:rgb(156, 235, 255);
  --specialButton: rgb(108, 108, 108);
  --fontSizeDisplay: min(2rem, calc(5dvh));
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-weight: normal;
  padding: 0;
  margin: 0;
  /*background: linear-gradient(to right, #00AAFF, #00FF6C);*/
  background-color: rgb(1, 2, 13);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.calculator-grid {
  box-sizing: border-box;
  display: grid;
  justify-content: flex-end;
  align-content: center;
  width: 50%;
  width: 50dvw;
  padding-right: min(25px, calc(50dvw - 400px));
  height: 100%;
  height: 100dvh;
  grid-template-columns: repeat(4, minmax(auto, 100px));
  grid-template-rows: minmax(min(120px, 20dvh), auto) repeat(5, minmax(auto, 100px));
}
.calculator-grid > button {
  color: black;
  cursor: pointer;
  font-size: var(--fontSizeDisplay);
  outline: none;
  border: 1px solid whitesmoke;
  background-color: var(--primaryColor);
  opacity: 0.75;
  transition: 0.15s;
  text-align: center;
}
.calculator-grid > button:hover {
  opacity: 1;
}
.span-two {
  grid-column: span 2;
}
.calculator-grid .operation {
  background-color: var(--highlightOp);
}
.calculator-grid .function {
  background-color: var(--highlightFc);
}


.output {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: column;
  grid-column: 1 / -1;
  background-color: var(--outputColor);
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  border: 1px solid white;
}

.output > .previous-operand {
  color: var(--white);
  opacity: 0.75;
  font-size: calc(var(--fontSizeDisplay) * 0.75);
}
.output > .current-operand {
  color: var(--white);
  font-size: calc(var(--fontSizeDisplay) * 1.25);
}
@media (orientation: portrait) {
  .button-grid {
    display: none !important;
  
  }
  .calculator-grid {
    justify-content: center;
    width: 100%;
    width: 100dvh;
    padding: 0;
  }

}
.button-grid {
  color: black;
  box-sizing: border-box;
  display: grid;
  justify-content: flex-start;
  align-content: center;
  width: 50%;
  width: 50dvw;
  height: 100%;
  height: 100dvh;
  padding-left: min(25px, calc(50dvw - 400px));
  grid-template-columns: repeat(4, minmax(auto, 100px));
  grid-auto-rows: minmax(auto, 100px);
}
.button-grid > button {
  color: black;
  cursor: pointer;
  font-size: var(--fontSizeDisplay);
  outline: none;
  border: 1px solid whitesmoke;
  background-color: var(--specialButton);
  opacity: 0.75;
  transition: 0.15s;
  text-align: center;
}
.button-grid > button:hover {
  opacity: 1;
}





